<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title> Browse <%= genre.name%> comics</title>
</head>
<nav>
    <a href="/genres">Back to all genres</a>
</nav>
<body>

    <h1><%=genre.name%> comics</h1>
    <h2>This page is to browse all comics on our website that belongs to the <%=genre.name%> genre</h2>
    <p> <%= genre.description%></p>

    <% if (genre.comics.length === 0) { %>
  <p>No comics in this genre yet.</p>
<% } %>
    <div class="comicList">
   <% genre.comics.forEach((comic)=> { %>
        <div class="comic">
      <div class="comicImage"> <a href="/comics/<%= comic._id %>"><h4><%= comic.name%></h4></a> </div> 
        <strong>Chapters: <%= comic.chapters %></strong>
        <strong>Author: <%= comic.author%></strong>
        </div>
    <% })%>
    </div>
</body>
</html>