<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic universe</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

 
</head>
<body>
    <header>
    <%- include('./partials/_navbar.ejs') %>
        </header>
    <% if(user){ %>
        <h1>Welcome back, <%= user.username %></h1>
    <% } else { %>
    <h1>Welcome to Comic universe</h1>
    <p>A site for comics lovers to gather and add all their favourtie comics to build a strong community.</p>
    <% } %>

    <h2>Today's most popular comics</h2>
     <div class="comicList">
      
    <% comics.forEach((comic)=> { %>
      <div class="comic">
        <a href="comics/<%= comic._id %>"><img class="comic-image" src="/assets/images/<%= comic.name.replace(/\W+/g, '-').replace(/^-+|-+$/g, '').toLowerCase()%>.png" alt="<%= comic.name %> <%= comic.category %>"></a> 
        <strong><%= comic.name %></strong>   
        <strong>Chapters: <%= comic.chapters %></strong>
        <strong>Author: <%= comic.author%></strong>
      </div>
    <% })%>
    </div>
</body>
</html>