<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/assets/css/comic-form.css">
       <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <title> Edit <%= comic.name%></title>
</head>
<body>
    <header>
    <%- include('../partials/_navbar.ejs') %>
</header>
    <h1>Edit <%= comic.name %> <%= comic.category%></h1>
    
    <form action="/comics/<%=comic._id %>?_method=PUT" method="POST">

        <p class="comicLabels">
            <label for="name">Comic's name:</label>
            <input type="text" name="name" id="name" value="<%= comic.name %> " >
        </p>


        
        <p class="genres-title"><label for="genres" class="genres"></label>Genres:</label> </p>
        <div class="genres">
        <% genres.forEach(genre => { %>
            <label>
                <%= genre.name %>
            <input type="checkbox" name="genres[]" value="<%= genre._id %>"
      <% const comicGenreIds = comic.genres.map(id => id.toString());%>
        <% if (comicGenreIds.includes(genre._id.toString() )) { %>
          checked
        <% } %> >
      
    </label>
  <% }) %>
</div>
            
        </select>
        
         <p class="comicLabels">
            <label for="chapters">Chapters:</label>
            <input type="number" name="chapters" id="chapters" min: 0  required value="<%= comic.chapters %>">
         </p>
            <div class="status">
                <p>
            <label for="completed">Completed?</label>
            <input type="checkbox" name="completed" id="completed" <% if(comic.completed){ %>
                checked
            <% } %> >

            
            <label for="ongoing">Ongoing?</label>
            <input type="checkbox" name="ongoing" id="ongoing" <% if(comic.ongoing){ %>
                checked
            <% } %> >
            </p>
        </div>

        <div id=" origins">
          <p class="comicLabels">
            <label for="author">Author(s):</label>
            <input type="text" name="author" id="author" value="<%= comic.author %> ">
          </p>
          <p class="comicLabels"></p>
            <label for="country">The comic's Country:</label>
            <input type="text" name="country" id="country"value="<%= comic.country %>"">
          </p>
        </div>
        <p>
        <label for="category"></label>
        <select name="category" id="category" required value="<%= comic.category%>">
            <option value="Manga">Manga</option>
            <option value="Manwha">Mahwha</option>
            <option value="Manhua">Manhua</option>
            <option value="Comic-book">Comic-book</option>
        </select>
        </p>

        <p>
            <label for="description"><legend>description</legend></label>
            <textarea name="description" id="description" required ><%= comic.description %></textarea>
        </p>

        <button type="submit">Edit Comic</button>
    </form>
</body>
</html>