<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All comics</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All comics</h1>
    <h3>This page is to browse all comics added to our universe</h3>
    <nav id="comicList">
    <% comics.forEach((comic)=> { %>
        <a href="comics/<%= comic._id %>"><h4><%= comic.name%></h4></a>
        <p>Chapters: <%= comic.chapters %></p>
        <p>Author: <%= comic.author%></p>
    <% })%>
    </nav>
    <a href="comics/new">Add a comic</a>

</body>
</html>