<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>All comics</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All comics</h1>
    <h3>This page is to browse all comics added to our universe</h3>
    <div class="comicList">
    <% comics.forEach((comic)=> { %>
       <div class="comic">
        <div class="comicImage"> <a href="comics/<%= comic._id %>"><h4><%= comic.name%></h4></a> </div> 
        <strong> <%= comic.name %></strong>
        <strong>Chapters: <%= comic.chapters %></strong>
        <strong>Author: <%= comic.author%></strong>
      </div>
    <% })%>
    </div>
    <a href="comics/new">Add a comic</a>

</body>
</html>