<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/css/comic.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <title><%= comic.name%></title>
</head>
<body>
    <header>
    <%- include('../partials/_navbar.ejs') %>
</header>

<div id="liked">
  
 <img class="comic-image" src="/assets/images/<%= comic.name.replace(/\W+/g, '-').toLowerCase()%>.png" alt="<%= comic.name %> <%= comic.category %>" >

    <div class="information">
    <div class="show-status">
    <p>Chapters: <%= comic.chapters%></p>
    <p>Written by: <%= comic.author %> in <%=comic.country %></p>
    <% if (comic.ongoing){ %>
        <p>Status: Ongoing </p>
     <% } else if(comic.completed){ %>
        <p>Status: Completed</p>
    <% }else { %>
        <p>Status: Unknown</p>
    <% } %>   
    </div>

    
    <div class="genres">
        <p>Genres:</p>
        <% comic.genres.forEach((genre)=>{ %>
            <p><a href="/genres/<%=genre._id %>"> <%= genre.name %></a>,</p>
        <% }) %>
    </div>
    
 <% if (userHasLiked){ %>
    
        <form action="/comics/<%=comic._id%>/liked-by/<%=user._id%>?_method=DELETE" method="POST">

         <strong>You've liked!</strong><button class="heart" type="submit">💔</button>
       
      <% } else { %>
    
    
        <form action="/comics/<%=comic._id%>/liked-by/<%=user._id%>" method="POST">

        <Strong>You've not liked! </Strong> <button class="heart" type="submit">❤️</button>
        
        </form>

    <% } %>
        <p>❤️ by <%= comic.likedByUsers.length%> people.</p>
    </div>
    </div>

 

    <p> <%= comic.name%>'s Description:</p>
    <p class="description"> <%= comic.description %></p>

    <% if(comic.publisher.equals(user._id.toString() )){ %>
        <a href="/comics/<%= comic._id%>/edit">Edit comic</a>
        <form action="/comics/<%= comic._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= comic.name %> <%= comic.category%></button>
     </form>
     <% } %>
    
    
</body>
</html>